# Environments
.venv/
venv/
env/
ENV/

# PyCharm / IDE
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.db-shm
*.db-wal

# Secrets & Config
.streamlit/
secrets.toml
*.toml
.env

# Documents & Notes
*.docx
daily*.txt
packages.txt

# OS
.DS_Store
Thumbs.db